body {
background: linear-gradient(135deg, #0f5132, #198754);
font-family: Arial;
color: white;
text-align: center;
}

.card {
background: rgba(0,0,0,0.4);
padding: 20px;
width: 60%;
margin: auto;
margin-top: 50px;
border-radius: 15px;
box-shadow: 0px 0px 10px black;
}

input, select {
padding: 10px;
margin: 10px;
width: 200px;
}

button {
padding: 10px 20px;
background: #00ff99;
border: none;
border-radius: 10px;
font-size: 16px;
cursor: pointer;
}
button:hover {
background: #00cc77;
}
