# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
ecopackai_xgb/
venv/
env/
.env

# Database
*.sqlite3

# Models (Optional - typically ignored if large, but included for this project)
# model/*.pkl

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
